@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "ELAND_Choice_M";
}

img {
  display: block;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

option:focus,
select:focus,
button:focus,
input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

/****/

.wrapper {
  width: 100%;
}

.content_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

main {
  max-width: 1190px;
}

.searchBar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
}

.search_option,
.search_input {
  font-family: "ELAND_Choice_M";
  height: 30px;
  border-radius: 5px;
}

.search_input {
  width: 400px;
  margin-left: 15px;
  border: none;
  text-indent: 1em;
}

.autocomplete_container {
  position: absolute;
  top: 45px;
  z-index: 99;
  margin-left: 15px;
}

.autocomplete_list {
  width: 400px;
  border-radius: 0 0 7px 7px;
  background-color: cornflowerblue;
}

.autocomplete_list_item {
  /* height: 30px; */
  font-size: 13.3333px;
  text-indent: 1em;
  line-height: 30px;
}

/**main**/

main {
  margin: 0 auto;
  padding: 150px 0;
}

.song_title {
  display: block;
  text-align: center;
}

.youtube_mv {
  display: block;
  margin: 0 auto 50px auto;
  width: 70%;
  height: 500px;
}

.info_container {
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
}

.info_menu {
  display: flex;
}

.info_menu_item {
  width: 33.3333%;
  height: 50px;
}

.info_menu_item_button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px 20px 0 0;
  background-color: white;
  font-family: "ELAND_Choice_M";
  font-weight: 700;
}

.song_info_detail_items_container {
  padding: 30px 50px;
}

.song_info_detail_item {
  font-size: 14px;
  margin-bottom: 8px;
}

.song_info_detail_item:not(.lyrics) {
  display: flex;
}

.song_info_detail_item > dt {
  width: 100px;
  font-weight: 700;
}

.lyrics > dt {
  /* margin-top: 30px; */
}

.lyrics > dd {
  margin: 50px auto;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}

/**footer**/

footer {
  background-color: rgb(250, 225, 228);
}

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
}

.footer_official_website {
  width: 15%;
}

.footer_logo_image {
  width: 100%;
}

.footer_SNS_company_website_container {
  padding: 0 80px;
  color: rgb(107, 107, 107);
}

.footer_SNS_items {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  width: fit-content;
  margin: 0 auto 10px auto;
}

.footer_SNS_item {
  display: flex;
  align-items: center;
  width: 150px;
  margin-bottom: 3px;
  font-size: 12px;
}

.footer_SNS_item > dt {
  width: 60px;
  margin-right: 10px;
}

.footer_SNS {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
}

.footer_SNS > img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.footer_SNS_twitter > i {
  color: #1da1f2;
}

.footer_SNS_instagram {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #833ab4,
    #fd1d1d,
    #fcb045
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #833ab4,
    #fd1d1d,
    #fcb045
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  font-size: 16px;
  padding: 2px;
}

.footer_SNS_instagram > i {
  color: white;
}

.footer_SNS_facebook > i {
  color: #1877f2;
}

.footer_SNS_youtube > i {
  color: #ff0000;
}

.footer_company_website_container {
  font-size: 10px;
}

.footer_company_website_container > span {
  font-size: 12px;
  font-weight: 700;
}

.footer_company_website_container > a {
  margin-left: 10px;
}
