@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "ELAND_Choice_M";
}

img {
  display: block;
}

ul {
  padding: 0;
}

ol {
  padding: 0;
}

button {
  cursor: pointer;
}

option:focus,
select:focus,
button:focus,
input:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

/*****/

.wrapper {
  width: 100%;
}

.content_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

main {
  max-width: 1190px;
}

.topBar_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.search_option,
.search_input {
  position: relative;
  top: 30px;
  height: 30px;
  /* border-radius: 7px; */
  background-color: white;
  font-family: "ELAND_Choice_M";
}

.searchArea_container {
  width: 57%;
  max-width: 650px;
  margin-left: 15px;
}

.search_input {
  width: 100%;
  border: none;
  text-indent: 1em;
}

.autocomplete_container {
  position: relative;
  top: 30px;
  z-index: 99;
  width: 100%;
}

.autocomplete_list_item {
  background-color: white;
  font-size: 13.3333px;
  text-indent: 1em;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete_list_item:not(.autocomplete_list_item_no_result):hover {
  background-color: cornflowerblue;
}

.autocomplete_list_item_anchor {
  display: block;
  width: 100%;
}

/*****main*****/

main {
  margin: 0 auto;
  padding: 150px 0;
}

.song_title {
  display: block;
  margin-bottom: 50px;
  font-size: 28px;
  text-align: center;
}

.youtube_mv {
  display: block;
  margin: 0 auto 50px auto;
  width: 70%;
  height: 500px;
}

.info_container {
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
}

.info_menu {
  display: flex;
}

.info_menu_item {
  width: 50%;
  height: 50px;
  list-style-type: none;
}

.info_menu_item_button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px 20px 0 0;
  background-color: white;
  font-family: "ELAND_Choice_M";
  font-weight: 700;
}

.info_detail_items_container {
  padding: 30px 50px;
}

.info_detail_item {
  font-size: 14px;
  margin-bottom: 8px;
}

.info_detail_item:last-of-type {
  margin-bottom: 0;
}

.info_detail_item:not(.info_detail_item_long_content) {
  display: flex;
  width: 100%;
}

.info_detail_item > dt {
  flex-shrink: 0;
  width: 100px;
  font-weight: 700;
}

.info_detail_item:not(.info_detail_item_long_content) > dd {
  display: flex;
}

.info_detail_item_long_content > dd {
  margin: 50px auto;
  font-size: 14px;
  line-height: 1.5em;
  word-break: keep-all;
  text-align: center;
}

.hidden_lyrics {
  max-height: 30em;
  overflow: hidden;
}

.lyrics_control_button:hover {
  color: rgb(54, 54, 54);
}

.lyrics_control_button {
  display: block;
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid rgb(240, 240, 240);
  border-right: none;
  border-bottom: none;
  border-left: none;
  background-color: transparent;
  color: rgb(211, 211, 211);
  font-size: 15px;
}

.album_track_list_container > dd {
  text-align: initial;
}

.album_track_list {
  list-style-position: inside;
  list-style-type: decimal;
}

.album_track_list_item {
  padding: 10px 0;
}

.album_track_list_item_title {
  color: rgb(163, 13, 13);
  font-size: 11px;
  font-weight: 700;
}

/*****footer*****/

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
  background-color: rgb(250, 225, 228);
}

.footer_logo_image {
  width: 100px;
}

.footer_SNS_company_website_container {
  padding: 0 80px;
  color: rgb(107, 107, 107);
}

.footer_SNS_items {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  width: fit-content;
  margin: 0 auto 10px auto;
}

.footer_SNS_item {
  display: flex;
  align-items: center;
  width: 150px;
  margin-bottom: 3px;
  font-size: 12px;
}

.footer_SNS_item > dt {
  width: 60px;
  margin-right: 10px;
}

.footer_SNS {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
}

.footer_SNS > img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.footer_SNS_twitter > i {
  color: #1da1f2;
}

.footer_SNS_instagram {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #833ab4,
    #fd1d1d,
    #fcb045
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #833ab4,
    #fd1d1d,
    #fcb045
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  font-size: 16px;
  padding: 2px;
}

.footer_SNS_instagram > i {
  color: white;
}

.footer_SNS_facebook > i {
  color: #1877f2;
}

.footer_SNS_youtube > i {
  color: #ff0000;
}

.footer_company_website_container {
  font-size: 10px;
}

.footer_company_website_container > span {
  font-size: 12px;
  font-weight: 700;
}

.footer_company_website_container {
  text-align: center;
}

.footer_company_website_container > span {
  display: block;
  margin-bottom: 3px;
  font-size: 11px;
}

.footer_company_website_container > a {
  margin-left: 0;
  font-size: 10px;
}

@media screen and(max-width:1024px) {
  /**header**/

  .searchArea_container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  /*****header*****/

  .searchArea_container {
    width: 70%;
  }

  /*****main*****/

  .youtube_mv {
    height: 300px;
  }

  .info_detail_item > dt {
    width: 30%;
  }

  .info_detail_item:not(.info_detail_item_long_content) > dd {
    width: 70%;
  }

  /*****footer*****/

  .footer_container {
    flex-direction: column;
    padding: 30px 0;
  }

  .footer_logo_image {
    margin-bottom: 30px;
  }

  .footer_official_website {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 540px) {
  /*****header*****/

  .search_option,
  .search_option > option {
    font-size: 12px;
  }

  .search_input {
    width: 100%;
    font-size: 12px;
  }

  .autocomplete_list_item {
    font-size: 12px;
  }

  /*****main*****/

  .song_title {
    font-size: 18px;
  }

  main {
    padding: 100px 0;
  }

  .youtube_mv {
    width: 90%;
    height: 270px;
  }

  .info_container {
    width: 90%;
  }

  .info_menu_item_button {
    font-size: 12px;
  }

  .info_detail_items_container {
    padding: 30px 20px;
  }

  .info_detail_item:not(.info_detail_item_long_content) {
    display: block;
  }

  .info_detail_item {
    margin-bottom: 8px;
    font-size: 12px;
  }

  .info_detail_item > dt {
    margin-bottom: 5px;
  }

  .info_detail_item > dt,
  .info_detail_item:not(.info_detail_item_long_content) > dd {
    margin-left: 20px;
  }

  .info_detail_item_long_content {
    display: block;
  }

  .info_detail_item_long_content > dd {
    margin: 30px 0;
    font-size: 12px;
  }

  .album_track_list_container > dt,
  .album_track_list_container > dd {
    margin-left: 20px;
  }

  .album_track_list_item_title {
    font-size: 9px;
  }

  /*****footer*****/

  .footer_SNS_company_website_container {
    padding: 0 30px;
  }

  .footer_SNS_item {
    width: 100px;
    font-size: 11px;
  }

  .footer_company_website_container > span {
    display: block;
    margin-bottom: 3px;
    font-size: 11px;
  }

  .footer_company_website_container > a {
    margin-left: 0;
    font-size: 10px;
  }
}

@media screen and (max-width: 414px) {
  /*****header*****/

  .search_input {
    width: 100%;
  }

  /*****main*****/

  .youtube_mv {
    height: 200px;
  }
}
